<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/style/meal.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="~/Categories">Categories</a></li>
            <li><a href="~/MealsAll/Index">Search</a></li>
            <li><a href="~/MyMeals/GetAll">Account</a></li>
            <li><a href="~/APIDOCS">API Docs</a></li>
        </ul>
    </div>
    <main>
        <div class="first">
            <div class="leftfir">
                <h1>Welcome to your own Recipe Book!</h1>
                <p>With this service you can manage your meals book just in WebSite!</p>
            </div>

            <div class="verticalLine"></div>

            <div class="right">
                <img width="160px" height="160px" src="https://cdn-icons-png.flaticon.com/512/2937/2937607.png"/>
            </div>
        </div>
        
        <div class="second">
            <h1 style="text-align:center;font-size:60px;">Actions that you can do here</h1>
            <div class="containersecond">
                <div class="adding">
                    <div class="left">
                        <h2>Creating your own recipe book quickly!</h2>
                    </div>
                    <div class="right">
                        <img width="160px" height="160px" src="https://cdn-icons-png.flaticon.com/512/3658/3658773.png" alt="">
                    </div>
                </div>
                <div class="editing">
                    <div class="left">
                        <img width="160px" height="160px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png" alt="">
                    </div>
                    <div class="right">
                        <h2>Editing your existing recipes!</h2>
                    </div>
                </div>
                <div class="deleting">
                    <div class="left">
                        <h2>Deleting your recipes!</h2>
                    </div>
                    <div class="right">
                        <img width="160px" height="160px" src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png" alt="">
                    </div>
                </div>
                <div class="searching">
                    <div class="left">
                        <img width="160px" height="160px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png" alt="">
                    </div>
                    <div class="right">
                        <h2>Search and add recipe!</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="leftfooter">
            <ul>
                <li><a href="~/Categories">Categories</a></li>
                <li><a href="~/MealsAll/Index">Search</a></li>
                <li><a href="~/MyMeals/GetAll">Account</a></li>
                <li><a href="~/APIDOCS">API Docs</a></li>
            </ul>
        </div>
        <div class="rightfooter">
            <ul>
                <li><a target="_blank" href="https://twitter.com/mrlaige"><img class="nets" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png" alt=""></a></li>
                <li><a target="_blank" href="https://www.instagram.com/mrlaige/"><img class="nets" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt=""></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/illia-rudiakov-a29494226/"><img class="nets" src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt=""></a></li>
                <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100010876713444"><img class="nets" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/800px-Facebook_logo_%28square%29.png" alt=""></a></li>
                <li><a target="_blank" href="https://github.com/mrlaige04"><img class="nets" src="https://icons-for-free.com/download-icon-github-1320568242989935765_512.png" alt=""></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>