<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="~/Categories">Categories</a></li>
            <li><a href="~/MealsAll">Search</a></li>
            <li><a href="~/User">Account</a></li>
            <li><a href="~/APIDOCS">API Docs</a></li>
        </ul>
    </div>
    <main></main>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        body {
            background: rgb(63,196,251);
            background: linear-gradient(63deg, rgba(63,196,251,1) 0%, rgba(70,252,115,1) 100%);
        }
        * {
            font-family: 'Montserrat', sans-serif;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            background-color: #333;
            display:flex;
            justify-content:center;
        }
        
        li {
            text-align:center;
            
            
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }
    </style>
</body>
</html>