@{
    Layout = "~/Views/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/style/hello.css">
</head>
<body>
    <main>
        
        <div class="first">
            <div class="leftfir">
                <h1>Welcome to your own Recipe Book!</h1>
                <p>With this service you can manage your meals book just in WebSite!</p>
            </div>

            <div class="verticalLine"></div>

            <div class="right">
                <img width="160" height="160" src="https://cdn-icons-png.flaticon.com/512/2937/2937607.png"/>
            </div>
        </div>
        
        <div class="second">
            <h1 style="text-align:center;font-size:60px;">Actions that you can do here</h1>
            <div class="containersecond">
                <div class="adding">
                    <div class="left">
                        <h2>Creating your own recipe book quickly!</h2>
                    </div>
                    <div class="right">
                        <img width="160" height="160" src="https://cdn-icons-png.flaticon.com/512/3658/3658773.png" alt="">
                    </div>
                </div>
                <div class="editing">
                    <div class="left">
                        <img width="160" height="160" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png" alt="">
                    </div>
                    <div class="right">
                        <h2>Editing your existing recipes!</h2>
                    </div>
                </div>
                <div class="deleting">
                    <div class="left">
                        <h2>Deleting your recipes!</h2>
                    </div>
                    <div class="right">
                        <img width="160" height="160" src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png" alt="">
                    </div>
                </div>
                <div class="searching">
                    <div class="left">
                        <img width="160" height="160" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png" alt="">
                    </div>
                    <div class="right">
                        <h2>Search and add recipe!</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>