@using Kursach;
@{
    var login = Context.Request.Cookies["login"];
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <!-- Site CSS -->
        <link rel="stylesheet" href="~/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="~/css/responsive.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="~/css/custom.css">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">

        @RenderSection("head",true)
    </head>
    <body>
        <!-- Start header -->
        <header class="top-navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				      <span class="navbar-toggler-icon"></span>
				    </button>
                    <div class="collapse navbar-collapse" id="navbars-rs-food">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="~/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/MealsAll/Index">Search</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/Account/Index">Account</a></li>
                            @if(!string.IsNullOrEmpty(Context.Request.Cookies["login"]))
                            {
                                <li class="nav-item"><a class="nav-link" href="~/Account/Logout">Logout</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End header -->        

        @RenderBody()        

        <!-- Start Footer -->
        <footer class="footer-area bg-f">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <h3>About Project</h3>
                        <p>For many centuries, people have used books and papers to save recipes for culinary dishes. But with the development of technology, you have the opportunity to do many everyday tasks just on your computer. Create your own cookbook and
                            add new and new dishes here.</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <ul class="list-inline f-social">
                            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/profile.php?id=100010876713444"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/mrlaige"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/mrlaige"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/mrlaige/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

        <!-- ALL JS FILES -->
        <script src="~/js/jquery-3.2.1.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->
        <script src="~/js/jquery.superslides.min.js"></script>
        <script src="~/js/images-loded.min.js"></script>
        <script src="~/js/isotope.min.js"></script>
        <script src="~/js/baguetteBox.min.js"></script>
        <script src="~/js/form-validator.min.js"></script>
        <script src="~/js/contact-form-script.js"></script>
        <script src="~/js/custom.js"></script>
    </body>
</html>