@using Kursach.Models.Meals;
@model ListOfMeals
@{
    Layout = "~/Views/_Layout.cshtml";
}

<!doctype html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" src="style/meal.css" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    </head>

    <body>
        <div class="leftside">
            <a href="~/Categories">Categories</a>
            
        </div>
        <div class="rightside">
            @foreach (var item in Model.meals)
            {
                <div class="meal">
                    <img src="@item.strImageSource"></img>
                    <p>@item.strMeal</p>
                    <p>Area: @item.strArea</p>
                    <p>Youtube tutorial: @item.strYoutube</p>
                </div>
            }
        </div>
    </body>
</html>
 