body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    display:flex;
    flex-direction:row;
}

.leftside {
    background: #4cff00;
}


.rightside {

}

.meal {
    width: 100%;
}


a {
    color:red;
}