.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.leftsidesearch {
    max-width: 33%;
    background: #dee3e0;
    padding: 50px 80px;
}

.rightsidesearch {
    padding: 50px 0 0 80px;
}

.meal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    border: 1.6px solid black;
    border-radius: 15px;
    margin-bottom: 30px;
}

.maininfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.descrip {
    margin-left: 80px;
}

.meal:hover {
    background-color: #c7dcff;
    border-radius: 15px;
}

.maininfo b {
    font-size: larger;
}

.additioninfo {
    display: none;
}

.showmore {
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.mealingredients ul {
    list-style-type: none;
}