.meal {
    margin: 20px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    min-width: 80%;
    max-width: 95%;
    border: 0.5px solid black;
    border-radius: 15px;
    margin-bottom: 30px;
}

.meal:hover {
    background-color: #c7dcff;
    border-radius: 15px;
}

.maininfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.descrip {
    margin-left: 50px;
}

.descrip b,
.descrip p {
    font-size: larger;
    vertical-align: middle;
    margin: auto;
}

.mealingredients ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mealingredients ul li {
    margin-top: 20px;
    font-weight: bold;
}

.mealingredients {
    margin-top: 15px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

#youtubetutorial {
    min-width: 100%;
    padding: 20px;
    border: 0.2px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: rgb(97, 245, 97);
}

#unlikereceptimage {
    cursor: pointer;
}

.createnewrecept {
    padding: 20px;
    font-weight: bold;
    margin: 20px auto;
    border-radius: 15px;
    background-color: rgb(103, 196, 87);
    border: none;
    cursor: pointer;
}

.createnewrecept a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

.receptcreator {
    display: block;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    background-color: #f9f9f9;
}

.receptcreator form input {
    margin-top: 20px;
    font-size: larger;
    text-align: center;
}

.receptcreator form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}

.receptcreator form button {
    padding: 30px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}